@model ViewItemAdmAddEEdit
@{
    ViewData["Title"] = "Adicionar Produto";
    var data = ViewBag.Categorias;
}

<div class="row justify-content-center mt-3">
    <div class="card col-8">
        <strong class="text-secondary mt-4 ml-2"><i class="fas fa-tag mr-2"></i>Adicionar novo produto</strong>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Message"].ToString()
            </div>
        }
        @using (Html.BeginForm("PostProduto", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation mt-3 ml-2 mr-2" }))
        {
            <div class="row mb-3">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Nome</label>
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @type = "text", @required = true })

                    </div>
                </div>
                <div class="col">
                    <label class="visually-hidden">Categoria</label>
                    @Html.DropDownListFor(m => m.IdCategoria,
                                     new SelectList(ViewBag.Categorias, "Id", "Nome"),
                                     "Escolha a categoria", new { @class = "form-control", @required = true })
                </div>
                <div class="col-2">
                    <label class="form-label"></label>
                    <div class="form-outline form-control mt-2">
                        @Html.CheckBoxFor(m => m.Destaque, new { @class = "form-check-input", @type = "checkbox" })
                        <label class="form-label">Destaque</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Valor</label>
                        @Html.TextBoxFor(m => m.ValorString, new { @class = "form-control", @type = "text", @required = true })

                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Tamanhos</label>
                        @Html.TextBoxFor(m => m.Tamanhos, new { @class = "form-control", @type = "text" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Quantidade</label>
                        @Html.TextBoxFor(m => m.Quantidade, new { @class = "form-control", @type = "number", @required = true })
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Peso</label>
                        @Html.TextBoxFor(m => m.PesoString, new { @class = "form-control", @type = "number", @min = 0, @value = 0, @step = 0.001, @required = true })
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <label class="form-label ml-1 mt-1">Imagens do Produto</label>
                <label class="form-label text-secondary ml-2">Principal</label>
                @Html.TextBoxFor(m => m.ImageUploadMain, new { type = "file", @class = "file ml-2 mb-2", @required = true })
                <label class="form-label text-secondary ml-2">Outras</label>
                @Html.TextBoxFor(m => m.ImageUpload, new { type = "file", @class = "file ml-2 mb-1", @multiple = true })

            </div>

            <div class="form-outline mb-3">
                <label class="form-label">Descrição</label>
                @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", @type = "text", @rows = "4", @required = true })
            </div>

            <div class="text-right mb-3 mt-3">
                <a type="button" class="btn btn-secondary" href="javascript:history.back()">
                    <i class="fas fa-arrow-circle-left mr-2"></i>Voltar
                </a>
                <button type="submit" class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Adicionar</button>
            </div>
        }
    </div>
</div>
