@model MessageContato
@{
    ViewData["Title"] = "Mensagem - " + Model.Id;
}

<div class="row justify-content-center mt-3">
    <div class="card col-8">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Message"].ToString()
            </div>
        }
        @using (Html.BeginForm("ConfirmaVisualizacaoMensageContato", "Admin", FormMethod.Post, new { @class = "needs-validation mt-3 ml-2 mr-2", @novalidate = true }))
        {
            <div class="row mb-3">
                <div class="col-2">
                    <div class="form-outline">
                        <label class="form-label">Cod</label>
                        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", @type = "text", @readonly = true })
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Nome</label>
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @type = "text", @readonly = true })
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="form-outline ">
                        <label class="form-label">Data Envio</label>
                        @Html.TextBoxFor(m => m.DataEnvio, new { @class = "form-control text-center", @type = "text", @readonly = true })
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Data Visualizado</label>
                        @Html.TextBoxFor(m => m.DataVisualizado, new { @class = "form-control text-center", @type = "text", @readonly = true })
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-outline">
                        <label class="form-label">Visualizado</label>
                        @if (Model.Visualizado == true)
                        {
                            <div class="form-control text-center" readonly>
                                <span class="text-success" title="Sim"><i class="fas fa-star"></i></span>
                            </div>
                        }
                        else
                        {
                            <div class="form-control text-center" readonly>
                                <span class="text-danger" title="Não"><i class="far fa-star"></i></span>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">E-mail</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "text", @readonly = true })
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Texto</label>
                        @Html.TextAreaFor(m => m.Texto, new { @class = "form-control", @type = "text", @readonly = true })
                    </div>
                </div>
            </div>

            <div class="text-center mb-3">
                <a type="button" class="btn btn-secondary" href="javascript:history.back()">
                    <i class="fas fa-arrow-circle-left mr-2"></i>Voltar
                </a>
                @if (Model.Visualizado == false)
                {
                    <button class="btn btn-primary" type="submit" style="cursor:pointer">Confirmar Visualização</button>
                }
                <a class="btn btn-info" style="cursor:pointer" onclick="redirectEmail()">Responder Mensagem</a>
            </div>
        }
    </div>
</div>
<script>
    function redirectEmail() {
        var email = "@Model.Email";
        var textBody = "@Model.Texto";
        window.location.href = "mailto:"+email+"?body="+textBody;
    }
</script>