@using MarketPage.Repository
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Patrícia Morais Semijóias</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
<body style="background-color: #b2bec3">
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="cursor:pointer">
                    <img src="~/img/logomarca.jpeg" alt="Logo Marca" class="img-fluid rounded-circle" style="width:50px;height:50px;" title="Home" />
                </a>
                <button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item mr-2">
                            <a class="nav-link text-light" onclick="@("window.location.href='" + @Url.Action("Index", "Shop",new { categoria=""}) + "'");" style="cursor:pointer">Shop<i class="fas fa-store-alt pl-2"></i></a>
                        </li>
                        <li class="nav-item dropdown mr-2" style="cursor: pointer">
                            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Categorias">
                                Categorias<i class="fas fa-tasks pl-2"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @{
                                    var categorias = new CategoriaRepository().GetCategoriasComItens();
                                    foreach (var categoria in categorias)
                                    {
                                        <a class="dropdown-item text-secondary" onclick="@("window.location.href='" + @Url.Action("Index", "Shop",new { categoria = categoria.Nome }) + "'");" style="cursor:pointer">
                                            @categoria.Nome
                                        </a>
                                    }
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contato" style="cursor:pointer">Contato<i class="fas fa-address-book pl-2"></i></a>
                        </li>

                    </ul>
                    @if (User.IsInRole("Usuario_Comum") || User.IsInRole("Admin"))
                    {
                        <ul class="navbar-nav text-right">
                            <li class="nav-item dropdown" style="cursor:pointer">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Menu">
                                    <i class="fas fa-bars"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item text-secondary" asp-area="" asp-controller="Login" asp-action="Usuario"><i class="fas fa-user mr-2"></i>Usuario</a>
                                    <a class="dropdown-item text-secondary" asp-area="" asp-controller="Pedidos" asp-action="Carrinho"><i class="fas fa-shopping-cart mr-2"></i>Carrinho</a>
                                    <a class="dropdown-item text-secondary" asp-area="" asp-controller="Pedidos" asp-action="Index"><i class="fas fa-boxes mr-2"></i>Pedidos</a>
                                    <a class="dropdown-item text-secondary" asp-area="" asp-controller="Login" asp-action="Logout"><i class="fas fa-sign-out-alt mr-2"></i>Sair</a>
                                </div>
                            </li>
                        </ul>
                        @if (User.IsInRole("Admin"))
                        {
                            <ul class="navbar-nav text-right">
                                <li class="nav-item dropdown" style="cursor:pointer">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Admin Menu">
                                        <i class="fas fa-user-shield"></i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item text-secondary" asp-area="" asp-controller="Admin" asp-action="Painel"><i class="fas fa-tasks mr-2"></i>Painel</a>
                                    </div>
                                </li>
                            </ul>
                        }
                    }
                    else
                    {
                        <ul class="navbar-nav text-right">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Cadastrar">Cadastrar<i class="fas fa-user-plus pl-2"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="Index">Entrar<i class="fas fa-sign-in-alt pl-2"></i></a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center text-lg-start text-muted" style="background-color: #C0C0C0">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span class="mr-2">Conecte-se conosco nas redes sociais:</span>
                <a href="https://www.facebook.com/patricia.moraesteixeira" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/patriciamoraessemijoias/" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://wa.me/5519991392232" class="me-4 text-reset" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Patrícia Moraes
                        </h6>
                        <p>
                            Semijóias
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Paginas
                        </h6>
                        <p>
                            <a asp-area="" asp-controller="Shop" asp-action="Index" class="text-reset">Shop</a>
                        </p>
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="FormasPagamento" class="text-reset">Formas de Pagamento</a>
                        </p>
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Termos" class="text-reset">Termos e Regras</a>
                        </p>
                        <p>
                            <a asp-area="" asp-controller="Home" asp-action="Contato" class="text-reset">Contato</a>
                        </p>
                        
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contato
                        </h6>
                        <p><i class="fas fa-home me-3"></i> Quinzinho Otávio 98 - Centro, Vargem Grande do Sul - SP, BR</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            pat.mt@hotmail.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> +55 19 99139-2232</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e2b4562c40.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
