@{
    ViewData["Title"] = "Home Page";
    var activeCarousel = true;
}

<div class="container-fluid">
    <div class="row mt-1 justify-content-center">
        <h4 class="text-center ml-3 mb-1 mt-3" style="color:#404040"><i class="fas fa-star pr-2"></i>Destaques<i class="fas fa-star pl-2"></i></h4>
    </div>
    @* Alerta Controller TempData*@
    <div class="row justify-content-center">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["Message"].ToString()
            </div>
        }
    </div>

    @foreach (var categoria in @ViewBag.Categorias)
    {
        @if (activeCarousel)
        {
            <div class="row mt-4 rounded" style="background-color: #FC90D8 ">
                <div class="col-form-label">
                    <a class="text-secondary" style="cursor: pointer; color: #2d3436" onclick="@("window.location.href='" + @Url.Action("Index", "Shop",new { categoria = categoria.Nome }) + "'");">
                        <h5 class="ml-3 mt-2"><i class="fas fa-store-alt mr-2"></i>@categoria.Nome</h5>
                    </a>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div id="carouselFade" class="container-fluid carousel slide" data-ride="carousel" style="background-color: white">
                    <div class="carousel-inner">
                        @foreach (var item in @ViewBag.Itens)
                        {
                            //Formata imagem
                            var base64 = Convert.ToBase64String(item.Img);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            @if (item.IdCategoria == categoria.Id)
                            {
                                @if (activeCarousel)
                                {
                                    <div class="carousel-item active">

                                        <div class="row d-flex justify-content-center align-items-center">
                                            <div class="col text-center">
                                                <a style="cursor:pointer" onclick="@("window.location.href='" + @Url.Action("Index", "Produto",new { item.Id }) + "'");">
                                                    <img class="mt-3 mb-3" src='@imgSrc' style="width: 250px; height: 250px; " />
                                                </a>
                                            </div>
                                            <div class="col">
                                                <label class="text-body mb-1" style="font-size:20px;">
                                                    <a class="text-secondary" style="cursor:pointer" title="@item.Nome" onclick="@("window.location.href='" + @Url.Action("Index", "Produto",new { item.Id }) + "'");">@item.Nome</a>
                                                </label>
                                                <div class="text-capitalize" style="font-size:18px;"><strong>R$@item.Valor</strong></div>
                                                @{
                                                    var valorParcelado = (item.Valor / 12).ToString("00.00");
                                                }
                                                <div class="text-capitalize text-secondary" style="font-size:16px;">Ou 12x de R$@valorParcelado</div>
                                                <div class="text-left">
                                                    <a class="btn btn-secondary text-light mt-2 mb-2" style="cursor: pointer;" title="Compra / Adicionar ao carrinho" onclick="@("window.location.href='" + @Url.Action("Index", "Produto",new { item.Id }) + "'");">
                                                        <i class="fas fa-shopping-cart mr-2"></i>Ver mais
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item ">
                                        <div class="row d-flex justify-content-center align-items-center">
                                            <div class="col text-center">
                                                <a style="cursor:pointer" onclick="@("window.location.href='" + @Url.Action("Index", "Produto",new { item.Id }) + "'");">
                                                    <img class="mt-3 mb-3" src='@imgSrc' style="width:250px; height:250px;" />
                                                </a>
                                            </div>
                                            <div class="col">
                                                <label class="text-body mb-1" style="font-size:20px;">
                                                    <a class="text-secondary" style="cursor:pointer" title="@item.Nome" onclick="@("window.location.href='" + @Url.Action("Index", "Produto",new { item.Id }) + "'");">@item.Nome</a>
                                                </label>
                                                <div class="text-capitalize" style="font-size:18px;"><strong>R$@item.Valor</strong></div>
                                                @{
                                                    var valorParcelado = (item.Valor / 12).ToString("00.00");
                                                }
                                                <div class="text-capitalize text-secondary" style="font-size:16px;">Ou 12x de R$@valorParcelado</div>
                                                <div class="text-left">
                                                    <a class="btn btn-secondary text-light mt-2 mb-2" style="cursor: pointer;" title="Compra / Adicionar ao carrinho" onclick="@("window.location.href='" + @Url.Action("Index", "Produto",new { item.Id }) + "'");">
                                                        <i class="fas fa-shopping-cart mr-2"></i>Ver mais
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (activeCarousel) { activeCarousel = false; }
                            }
                        }
                    </div>
                    <a class="carousel-control-prev text-dark" href="#carouselFade" role="button" data-slide="prev">
                        <h3><i class="fas fa-arrow-circle-left"></i></h3>
                        <span class="sr-only text-secondary">Anterior</span>
                    </a>
                    <a class="carousel-control-next text-dark" href="#carouselFade" role="button" data-slide="next">
                        <h3><i class="fas fa-arrow-circle-right"></i></h3>
                        <span class="sr-only text-secondary">Proximo</span>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div>
                <div class="row d-flex justify-content-center align-items-center mb-1 mt-4 rounded" style="background-color: #FC90D8 ">
                    <a class="text-secondary" style="cursor: pointer; color: #2d3436" onclick="@("window.location.href='" + @Url.Action("Index", "Shop",new { categoria = categoria.Nome }) + "'");">
                        <h5 class="ml-3 pt-1">@categoria.Nome</h5>
                    </a>
                </div>
                <div class="card-deck ml-1">
                    @foreach (var item in @ViewBag.Itens)
                    {

                        @if (item.IdCategoria == categoria.Id)
                        {
                            <div class="col-md-3 col-sm-6 mt-2">
                                <div class="card">
                                    <div class="container h-100 d-flex justify-content-center">
                                        @{
                                            //Formata imagem
                                            var base64 = Convert.ToBase64String(item.Img);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                            //Formata nome do item
                                            var nomeView = string.Empty;
                                            if (item.Nome.Length > 20)
                                                nomeView = $"{item.Nome.Substring(0, 16)}...";
                                            else
                                            {
                                                nomeView = item.Nome;
                                            }
                                        }
                                        <a style="cursor:pointer" onclick="@("window.location.href='" + @Url.Action("Index", "Produto",new { item.Id }) + "'");">
                                            <img class="mt-3" src='@imgSrc' style="width:150px; height:150px;" />
                                        </a>
                                    </div>
                                    <div class="content ml-3 mr-3 mb-3">
                                        <label class="text-body mb-1" style="font-size:18px;">
                                            <a class="text-secondary" style="cursor:pointer" title="@item.Nome" onclick="@("window.location.href='" + @Url.Action("Index", "Produto",new { item.Id }) + "'");">@nomeView</a>
                                        </label>
                                        <div class="text-capitalize" style="font-size:16px;"><strong>R$@item.Valor</strong></div>
                                        @{
                                            var valorParcelado = (item.Valor / 12).ToString("00.00");
                                        }
                                        <div class="text-capitalize text-secondary" style="font-size:14px;">Ou 12x de R$@valorParcelado</div>
                                        <div class="text-center">
                                            <a class="btn btn-secondary text-light mt-2" style="cursor: pointer;" title="Compra / Adicionar ao carrinho" onclick="@("window.location.href='" + @Url.Action("Index", "Produto",new { item.Id }) + "'");">
                                                <i class="fas fa-shopping-cart mr-2"></i>Ver mais
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        }
    }
</div>

<a href="https://api.whatsapp.com/send?phone=5519999999999&text=Olá"
   target="_blank"
   style="position:fixed;bottom:20px;right:30px;">
    <svg enable-background="new 0 0 512 512" width="40" height="40" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M256.064,0h-0.128l0,0C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104  l98.4-31.456C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z" fill="#4CAF50" />
    <path d="m405.02 361.5c-6.176 17.44-30.688 31.904-50.24 36.128-13.376 2.848-30.848 5.12-89.664-19.264-75.232-31.168-123.68-107.62-127.46-112.58-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624 26.176-62.304c6.176-6.304 16.384-9.184 26.176-9.184 3.168 0 6.016 0.16 8.576 0.288 7.52 0.32 11.296 0.768 16.256 12.64 6.176 14.88 21.216 51.616 23.008 55.392 1.824 3.776 3.648 8.896 1.088 13.856-2.4 5.12-4.512 7.392-8.288 11.744s-7.36 7.68-11.136 12.352c-3.456 4.064-7.36 8.416-3.008 15.936 4.352 7.36 19.392 31.904 41.536 51.616 28.576 25.44 51.744 33.568 60.032 37.024 6.176 2.56 13.536 1.952 18.048-2.848 5.728-6.176 12.8-16.416 20-26.496 5.12-7.232 11.584-8.128 18.368-5.568 6.912 2.4 43.488 20.48 51.008 24.224 7.52 3.776 12.48 5.568 14.304 8.736 1.792 3.168 1.792 18.048-4.384 35.52z" fill="#FAFAFA" />
</svg>
</a>