@model List<ItemViewProduto>
@{
    ViewData["Title"] = "Carrinho";

    var list = new List<decimal>();
    foreach (var i in Model)
    {
        var t = i.Quantidade * i.Valor;
        list.Add(t);
    };
    decimal? valorTotal = 0;
    if (list.Any())
    {
        if (Model.FirstOrDefault().ValorFrete != null)
        {
            valorTotal += Model.FirstOrDefault().ValorFrete;
        }
        if (Model.FirstOrDefault().ValorDesconto != null)
        {
            valorTotal += list.Sum() - (list.Sum() * Model.FirstOrDefault().ValorDesconto);
        }
        else
        {
            valorTotal += list.Sum();
        }
    }

    var listaFrete = new List<ViewFreteCarrinho>();
    @foreach (var item in ViewBag.ValoresFrete)
    {
        var textFrete = string.Concat(item.Servico, " - ", "R$", item.Preco.ToString());
        listaFrete.Add(new ViewFreteCarrinho { Servico = item.Servico, Texto = textFrete });
    }

}
<div class="card mt-3">
    <div class="card-header">
        <h4>Carrinho</h4>
    </div>
    <div class="card-body">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger mt-4" role="alert">
                @TempData["Message"].ToString()
            </div>
        }
        <table class="table">
            <thead>
                <tr>
                    <th class="text-secondary">Produto</th>
                    <th class="text-secondary text-center">Qtd.</th>
                    <th class="text-secondary text-center">Preço Un.</th>
                    <th class="text-secondary text-center">Preço Tot.</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @*Itens*@
                @foreach (var item in Model)
                {
                    var total = item.Valor * item.Quantidade;
                    <tr>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                @{
                                    var base64 = Convert.ToBase64String(item.Img);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                }
                                <img class="media-object" src='@imgSrc' style="width: 72px; height: 72px;" />
                                <div class="media-body">
                                    <p class="media-heading ml-2 text-secondary" style="font-size:16px"><strong>@item.Nome</strong></p>
                                    @if (!string.IsNullOrEmpty(item.Tamanhos))
                                    {
                                        <h6 class="media-heading ml-2 text-secondary">Tam.: <strong>@item.Tamanhos</strong></h6>
                                    }
                                </div>
                            </div>
                        </td>
                        <td class="col-1" style="text-align: center; vertical-align: middle;">
                            <input type="text" class="form-control text-center" value="@item.Quantidade" readonly />
                        </td>
                        <td class="col-1" style="text-align: center; vertical-align: middle;">
                            <div class="text-center">R$@item.Valor</div>
                        </td>
                        <td class="col-1" style="text-align: center; vertical-align: middle;">
                            <div class="text-center">R$@total</div>
                        </td>
                        <td class="col-1" style="text-align: center; vertical-align: middle;">
                            <button type="button" class="btn btn-outline-danger" title="Remover" onclick="location.href='@Url.Action("DeleteItemCarrinho", "Pedidos", new { item = item.Id })'">
                                <span><i class="fas fa-trash-alt"></i></span>
                            </button>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        @if (Model.Any())
        {
            <div class="row ml-1">
                @using (Html.BeginForm("SelecionaTipoFrete", "Pedidos", FormMethod.Post, new { @class = "col d-flex" }))
                {
                    @if (Model.FirstOrDefault().TipoFrete != null)
                    {
                        <label class="col-form-label mr-3"><strong>Frete Selecionado:</strong></label>
                        var textFrete = string.Concat(Model.FirstOrDefault().TipoFrete, " - ", "R$", Model.FirstOrDefault().ValorFrete);
                        <input class="form-control col-6" type="text" value="@textFrete" readonly />
                    }
                    else
                    {
                        <label class="col-form-label mr-3"><strong>Tipo do Frete:</strong></label>
                        <div class="form-check form-check-inline">
                            @foreach (var item in listaFrete)
                            {
                                @Html.RadioButtonFor(m => m.FirstOrDefault().TipoFrete, item.Texto, new { @class = "form-check-input" })
                                <label class="col-form-label mr-3">@item.Texto</label>
                            }
                            <button class="btn btn-info ml-2" type="submit" style="cursor:pointer">Selecionar</button>
                        </div>
                    }
                }
            </div>
            <hr />
            <div class="row ml-1">
                @using (Html.BeginForm("ValidarCodPromo", "Pedidos", FormMethod.Post, new { @class = "col d-flex" }))
                {
                    @if (Model.FirstOrDefault().CodPromocional != null)
                    {
                        <label class="col-form-label mr-3">Cupom Promocional (Aplicado)</label>
                        @Html.TextBoxFor(m => m.FirstOrDefault().CodPromocional, new { @class = "form-control col-6", @readonly = true })
                    }
                    else
                    {
                        <label class="col-form-label mr-3"><strong>Cupom Promocional </strong>(Opcional):</label>
                        @Html.TextBoxFor(m => m.FirstOrDefault().CodPromocional, new { @class = "form-control col-6" })
                        <button class="btn btn-info ml-2" type="submit" style="cursor:pointer">Verificar</button>
                    }
                }
            </div>
        }
        <hr />
        @*Total*@
        <div class="row text-danger ml-2">
            <h5 style="font-size:18px">Total Final: @String.Format("{0:C}", valorTotal)</h5>
        </div>

        @* Botões *@
        @using (Html.BeginForm("PostPedido", "Pedidos", FormMethod.Post, new { @class = "float-right mb-3 mt-1" }))
        {
            <a type="button" class="btn btn-secondary mr-1" href="javascript:history.back()">
                <i class="fas fa-arrow-circle-left mr-2"></i>Voltar
            </a>
            <button class="btn btn-success" type="submit" style="cursor:pointer" onclick="PostPedido()"><i class="fas fa-shopping-cart mr-2"></i>Finalizar</button>
        }


    </div>
</div>



