@model ItemViewProduto
@{
    ViewData["Title"] = Model.Nome;
    Model.Quantidade = 0;
}

@using (Html.BeginForm("PostItemCarrinho", "Login", FormMethod.Post, new { @class = "needs-validation", @novalidate = true }))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Valor)
    <div class="container col-8">
        <div class="card ml-2 mr-2 mt-2 mb-2">
            <div class="container-fluid">
                @* Alerta Controller TempData*@
                <div class="row justify-content-center mt-3">
                    @if (TempData["Message"] != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            @TempData["Message"].ToString()
                        </div>
                    }
                </div>
                <div class="wrapper row">
                    <div class="col-md-6 text-center">
                        <div class="card-img">
                            @{
                                var base64 = Convert.ToBase64String(Model.Img);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            }
                            <img class="img-fluid mt-3 mb-3" src='@imgSrc' />
                        </div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="ml-3">
                            <h5 class="modal-title">@Model.Nome</h5>
                            <br />
                        </div>
                        <div class="input-group mb-3 col-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Preço(R$):</span>
                            </div>
                            @Html.TextBoxFor(model => model.Valor, new { @type = "text", @class = "form-control", @id = "txtValor", @readonly = true })
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Tamanhos))
                        {
                            <div class="input-group mb-3 col-8">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Tamanho:</span>
                                </div>
                                @Html.DropDownListFor(m => m.Tamanhos,
                                     new SelectList(Model.Tamanhos.Split(';')),
                                     "", new { @class = "form-control", @title = "Selecione o tamanho" })

                            </div>
                        }
                        <div class="input-group ml-0 mb-3 col-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Quantidade:</span>
                            </div>
                            @Html.TextBoxFor(model => model.Quantidade, new { @type = "number", @class = "form-control", @id = "txtQuantidade", @required = true })
                        </div>
                        <div class="mt-4">
                            <div class="mb-3 ml-3">
                                <button class="btn btn-outline-success" type="submit">Comprar<i class="fas fa-cash-register ml-2"></i></button>
                            </div>
                        </div>
                    </div>
                    <article class="ml-5 mr-5 mt-3">
                        <p class="details"><strong>Descrição: </strong>@Model.Descricao</p>
                    </article>

                </div>
            </div>
        </div>
    </div>
}
