@model Usuario
@{
    ViewData["Title"] = "Editar";
}
<div class="row justify-content-center mt-3">
    <div class="card col-8">
        <div class="card-subtitle ml-3 mt-3">
            <div class="text-center">
                <h4 class="text-secondary">Editar Cadastro<i class="fas fa-user-plus ml-2"></i></h4>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("PutUsuario", "Login", FormMethod.Post, new { @class = "needs-validation", @novalidate = true }))
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id);
                @Html.HiddenFor(m => m.StatusAtivo);
                @Html.HiddenFor(m => m.RoleAcess);
                @Html.HiddenFor(m => m.ConcordaRegras);
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["Message"].ToString()
                    </div>
                }
                <div class="row mb-3">
                    <div class="col">
                        <label for="lblUsername" class="text-body">Username</label>
                        @Html.TextBoxFor(model => model.Username, new { @type = "text", @class = "form-control", @id = "txtUsername", @required = true })
                    </div>
                    <div class="col">
                        <label for="lblPassword" class="text-body">Password</label>
                        @Html.TextBoxFor(model => model.Password, new { @type = "password", @class = "form-control", @id = "txtPassword", @placeholder = "*****", @required = true })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="lblEmail" class="text-body">Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @type = "email", @class = "form-control", @id = "txtEmail", @placeholder = "exemplo@seu.email", @required = true })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="lblNome" class="text-body">Nome</label>
                        @Html.TextBoxFor(model => model.Nome, new { @type = "text", @class = "form-control", @id = "txtNome", @required = true })
                    </div>
                    <div class="col">
                        <label for="lblSobrenome" class="text-body">Sobrenome</label>
                        @Html.TextBoxFor(model => model.Sobrenome, new { @type = "text", @class = "form-control", @id = "txtSobrenome" })
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="dtDataNascimento">Nº Telefone</label>
                        @Html.TextBoxFor(model => model.Telefone, new { @type = "text", @class = "form-control", @id = "txtTelefone", @required = true })
                    </div>
                    <div class="col">
                        <label for="dtDataNascimento">Data Nascimento</label>
                        @Html.TextBoxFor(model => model.DataNascimento, new { @type = "text", @class = "form-control", @id = "dtDataNascimento", @required = true })
                    </div>
                </div>
                <div class="row mb-2 ml-2 mt-2">
                    <div class="col">
                        @Html.CheckBoxFor(model => model.PermiteEmail, new { @type = "checkbox", @class = "form-check-input" })
                        <label class="form-check-label text-secondary" style="font-size:13px"><i>Permito envios de correio eletronico promocional.</i></label>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <a type="button" class="btn btn-secondary ml-1 mr-1" href="javascript:history.back()">
                        <i class="fas fa-arrow-circle-left mr-2"></i>Voltar
                    </a>
                    <button type="submit" class="btn btn-primary" id="btnEnviar">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script type="text/javascript">$("#txtTelefone").mask("(00) 0000-00000");</script>